@media screen and (max-width:480px) {
    #right h1{
        font-size: 5.9vw;
    }
    #right img {
        height: 100%;
        width: 16vw;
    }
    #nav-opener{
        width: 11vw;
    }
    #nav-opener img{
        margin-top: 2vh;
    }
    

    #left ul{
        display: none;
    }

    #nav-opener{
        display: block;
    }


    #nav-opener img{
        height: 50%;
    }


    #mob-nav{
        display:block ;
        
     }

     #mob-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: vw;
     }

    #mob-nav ul li{
        margin: 3vh 0;
    }


     #mob-nav ul li a{
        font-size: 8vw;
        margin: 10vh 0;
     }


#img-container{
    height: 63vh;
}


#page1{
    height: 68vh;
}
#info-div h2{
    font-size: 18vw;
    line-height: 14vh;
}
#info-div h3 {
    font-size: 6.9vw;
}
#show{
    margin-top: 5vh;
}
#show span{
    padding: 1vh 5vw;
    background-color: #92d2f3;
    font-size: 3.5vw;
    font-weight: 800;
    border-radius: 29px;
}
.packeges-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.packege-body{
    height: 50vh;
    width: 35vh;
}
.dest-img{
    height: 44%;
}
.des-info{
    font-size: 5.5vw;
}
.extra-name{
    font-size: 4.9vw ;
    
}
.days{
    font-size: 4.3vw;
}
.prise{
    font-size: 5vw;
}
.btn-des-1{
    padding: 1vh 9vw;
    font-size: 4vw;
}
#new-added-cover h3{
    font-size:6vw ;
}
.other-country span{
    font-size: 5vw;
}
#new-added-cover{
    display: flex;
    justify-content: center;
    align-items: center;
}
#page5{
    height: 46vh;
}
.gallary-image{
    height: 88%;
    width: 70vw;
}
#page3{
    height: 133vh;
}
.img-info {
    font-size: 6.4vw;
}
#contact-container{
    height: 126vh;

    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}
.contact-logo {
    height: 18vh;
    width: 100%;
}
.contact-logo img{
    margin-left: 10.5vw;
}
.contact{
    width: 61vw;
    height: 80vw;
}
.contact-info {
    font-size: 5.3vw;
}
.contact-btn{
padding: 1.8vh 3.5vw;
font-size:4vw ;
}
#info-cover h2{
    font-size: 4vw;
}
.spl{
    font-size: 4vw;
}



#info-cover h3{
    font-size: 4vw;
}

























/*makeing loder responsive*/
  

#loder{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(to left,whitesmoke,rgb(243, 217, 221),rgb(225, 240, 247),rgb(245, 245, 216));
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#anm-loder{
   height: 40vh;
   width: 100vw;
}
.loder{
   height: 30px;
   width: 30px;
   border: 7px solid black;
   border-top: 7px solid rgb(255, 3, 3);
}



#loder h3{
   font-size: 7.5vw;
}

}
    
