@media screen and (min-width:481px) and (max-width:721px) {
     
    
    #nav{
        height: 10vh;
    }
    
    #right{
         width: 25vw;
         gap: 2vw;
    }
    
    #right img{
        height: 100%;
        width:6vw;
    }
    #right h1{
        white-space: nowrap;
        font-size: 2.5vw;
    }
    
    
    #left{
        height: 100%;
        width: 60vw;
    }
    
    #left ul{
        height: 100%;
    }
    
    #left ul li{
        list-style: none;
        color: black;
        margin-right: 2vw;
    }
    
    #left ul li a{
        font-size: 2.5vw;
    }


    #page1{
        height:80vh ;
    }
    
    #img-container{
        height: 70vh;
        width: 100vw;
        position: relative;
        z-index: 1;
    }
    
    #img-container img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    
    #info-div{
         height: 100%;
         width: 100%;
    }
    
    #info-div h2{
        font-size: 17vw;
    }
    
    #info-div h3{
        font-size: 3.9vw;
    }
    

   

#page2{
    min-height: 100vh;
    width: 100vw;
    background-color: #f1f5f7   ;
}

#show{
    height: 6px;
    width: 90%;
    margin-bottom: 1vh;
}

#show span{
    font-size: 2.5vw;
}

.packeges-container,#new-added-cover{
    width: 98vw;
    margin: 4vh auto;
    overflow: hidden;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    margin-top: 6vh;
}

.packege-body{
    border-radius: 9px;
    box-shadow:  32px 32px 70px #b1b1b1,
             -32px -32px 70px #ffffff;
    height: 50vh;
    width: 35vw;
    overflow: hidden;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: auto;
}





.des-info{
    font-size: 3vw;
}

.cost-info{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    border-bottom: 0.2px solid rgb(190, 188, 188);
}

.days{
    font-size: 2.5vw;
}
.prise{
    font-size: 2.5vw;
    font-weight: 900;
}

.btn-des-1{
    font-size: 2.4vw;
}



.extra-name{
    font-size: 2.5vw;
}
   


#page3{
    height: 62vh;
    width: 100vw;
    background-color:#f1f5f7;
}


#country-container{
  height: 30vh;
  width: 100%;
}

.other-country{
     height: 7vh;
}

.other-country span{
     font-size: 2.7vw;
}


#contact-container{
    height: 45vh;
    width: 100vw;
    margin: 0 auto;
    margin-top: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.contact{
    height: 45vh;
    width: 30vw;
}

.contact-logo{
   height: 20vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.contact-logo img{
    height: 100%;
    margin:0 auto;
    margin-left:3.4vw;
}

.contact-info{
    text-align: center;
    font-size: 2.9vw;
    color: rgb(113, 110, 110);
}

.contact-btn{
   padding: 0.8vh 1.5vw;
   font-size: 2.4vw;
}




#page4{
    height: 110vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;  
}

#page4 .pg4-img{
    height: 50%;
}
 
#info-cover{
    position: absolute;
    height: 70vh;
    width: 100vw;
    background-color: rgba(255, 254, 254, 0.815);
    top: 10%;
    left :0;
    backdrop-filter: blur(1px);
}

#info-cover h2{
    text-align: center;
    font-size: 1.9vw;
    margin-top: 3vh;
}


#info-cover h3{
    font-size: 1.7vw;
    text-align: center;
    margin-top: 3vh;
    color: rgb(52, 50, 50);
}

.spl{
    color: #49b9f1;
    font-size: 2vw;
}

#page5{
    height: 60vh;
}

#gallary-img-container{
    height: 40vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x:scroll ;
    white-space: nowrap;
    margin-top: 10vh;
}



.gallary-image{
    width: 40vw;
}

.img-info{
    font-size: 2.7vw;

}




#page4{
    height: 110vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;  
}

#page4 .pg4-img{
    height: 50%;
}
 
#info-cover{
    position: absolute;
    height: 70vh;
    width: 100vw;
    background-color: rgba(255, 254, 254, 0.815);
    top: 10%;
    left :0;
    backdrop-filter: blur(1px);
}

#info-cover h2{
    font-size: 2.9vw;
}


#info-cover h3{
    font-size: 2.7vw;
}

.spl{
    font-size: 3vw;
}


#anm-loder{
   height: 50vh;
   width: 80vw;
}

#loder h3{
   font-size: 2.9vw;
   font-weight: 800;
   color: black;
}
#part1{
    width: 20vw;
}
#part2{
    font-size: 2.2vw;
}


}