@media screen and (max-width:480px) {
    #right h1{
        font-size: 5.9vw;
    }
    #right img {
        height: 100%;
        width: 16vw;
    }
    #nav-opener{
        width: 11vw;
    }
    #nav-opener img{
        margin-top: 2vh;
    }
    

    #left ul{
        display: none;
    }

    #nav-opener{
        display: block;
    }


    #nav-opener img{
        height: 50%;
    }


    #mob-nav{
        display:block ;
        
     }

     #mob-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: vw;
     }

    #mob-nav ul li{
        margin: 3vh 0;
    }


     #mob-nav ul li a{
        font-size: 8vw;
        margin: 10vh 0;
     }


#img-container{
    height: 63vh;
}


#page1{
    height: 68vh;
}
#info-div h2{
    font-size: 18vw;
    line-height: 14vh;
}
#info-div h3 {
    font-size: 6.9vw;
}
#show{
    margin-top: 5vh;
}
#show span{
    padding: 1vh 5vw;
    background-color: #92d2f3;
    font-size: 3.5vw;
    font-weight: 800;
    border-radius: 29px;
}
.packeges-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.packege-body{
    height: 50vh;
    width: 35vh;
}
.dest-img{
    height: 44%;
}
.des-info{
    font-size: 5.5vw;
}
.extra-name{
    font-size: 4.9vw ;
    
}
.days{
    font-size: 4.3vw;
}
.prise{
    font-size: 5vw;
}
.btn-des-1{
    padding: 1vh 9vw;
    font-size: 4vw;
}
#new-added-cover h3{
    font-size:6vw ;
}
.other-country span{
    font-size: 5vw;
}
#new-added-cover{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
    
